.calendar {
  border: 1px solid;
  display: inline-block;
  width: 290px;
}

.calendar .week-days {
  background: lightblue;
}

.calendar .week-day {
  display: inline-block;
  padding: 10px;
  width: 40px;
}

.calendar .day {
  display: inline-block;
  padding: 10px;
  width: 40px;
}
.calendar .day-other {
  display: inline-block;
  padding: 10px;
  width: 40px;
  color: lightgrey;
}
.calendar .current-day {
  display: inline-block;
  padding: 10px;
  width: 40px;
  background: red;
}

.calendar .year-selector {
  display: inline-flex;
  width: 50%;
}
.calendar .month-selector {
  display: inline-flex;
  width: 50%;
  
}
.calendar .month-selector span {
  width: 100%;
  flex-grow: 1;
  text-align: center;
}
.calendar .year-selector span {
  width: 100%;
  flex-grow: 1;
  text-align: center;
}
